@media only screen and (max-device-width: 900px) {
        .textcontent {
            text-align: left;
            margin: 0 auto;
            width: 95%;
            line-height: 1.75em;
            font-size: 14px;
        }  
        #headerImage {
            width: 300px;  
}
}

@font-face {
    font-family: 'Memphis';
    src: url('../fonts/Memphis-Medium.eot');
    src: url('../fonts/Memphis-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Memphis-Medium.woff2') format('woff2'),
        url('../fonts/Memphis-Medium.woff') format('woff'),
        url('../fonts/Memphis-Medium.svg#Memphis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body, tbody {
    font-family: Memphis;
    font-size: 16px;
    margin: 0;
    color: #150600;
	background-color: #f9eddd;
}
thead {
    font-size: 18px;	
    font-weight: bold;
}
#header {
	background-color: #f0dda8;
}
#header-backdrop {
	background-image: url('../images/backdrop-header.png');
    background-size: cover;
    background-color: #283b25;
}
#banner {
    color: #f0dda8;
    font-size: 35px;
    padding: 10px 0 0 0;
    text-align: center;
    font-family: Memphis;
    font-weight: bold;
}
#headerImage {
    width: 45vw;  
}
#bannericon {
	position: absolute;
	top: 15px;
	left: 15px;
}
#bannericon img {
	width: 50px;
}
#deadpixel {
    position: fixed;
    bottom: 353px;
    right: 422px;
}

#menu {
    background-color: transparent;
    color: #283b25;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    font-family: Memphis;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
}
#menu a[href] {
    color:#f0dda8;
    text-decoration: none;
}
#footer {
	background-color: #f0dda8;
}
#footer-backdrop {
    background-color: #283b25;
    color: #f0dda8;
    font-size: 13px;
    padding: 15px 0 15px 0;
    text-align: center;
    font-family: Memphis;
    font-weight: bold;
}
#footer a[href] {
    color:#f0dda8;
    text-decoration: none;    
}

td {
    padding: 3px 5px;
}
#whatsnew {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #283b25;
    text-align: left;
    background-color: #93b78d;
    line-height: 1.5em;     
}
.whatsnewdate {
    font-weight: bold   
}

#content {
    margin: 15px;
    text-align: center;
    font-size: 17px;
}
.textcontent {
    text-align: left;
    margin: 0 auto;
    width: 75%;
    line-height: 1.75em;
    font-size: 17px;
}
label {
    cursor: pointer;
}
.banner {
    width: 75%;
    height: auto;
}

#carsidetable {
    margin: 0 auto;
    max-width: 95%;
    border: 1px solid #150600; 
    border-collapse: collapse;
}
#carsidetable thead tr th{
    background-color: #283b25;
    color: #f0dda8;
    padding: 0 10px;
    border: 1px solid #150600; 
    border-collapse: collapse;
}
#carsidetable td{
    text-align: left;
    font-size: 14px;
    margin: 0 15px;  
    border: 1px solid #150600; 
    border-collapse: collapse;
}
#carsidetable tbody tr td{
    white-space: nowrap;
}
#carsidetable tbody tr td:last-child, #carsidetable tbody tr td:nth-child(4){
    white-space: normal;
}
#carsidetable img{
    vertical-align: middle;
}
.hothumb {
	height: 50px;
}
.oothumb {
	height: 57px;
}
.ttthumb {
	height: 37px;
}
.sthumb {
	height: 68px;
}

.gif {
    vertical-align: middle;
}
.display {
    margin-top: 15px;
    border: 20px solid #000;
    border-radius: 2px;
    max-width: 1000px;
}
#reflist {
    display: table;
    margin: 0 auto;
    text-align: left;    
}
#github img {
    vertical-align: middle;
    margin: 15px;
}
#github, #github a[href] {
    color: #1b1f23;
    font-size: 21px;
    text-align: center;
    font-family: Memphis;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
#aboutmeimg {
	float: left;
}
#aboutmepicture {
    float: left;
    height: 230px;
    margin: 0 40px 0 0;
    border: 8px solid #444;
}
#buttoncontainer {
	margin-top: 20px;
}
#aboutmediv {
	float: left;
}
#makethiswork {
	clear: both;
}
.button {
	width: 30px;
}
#wherefrom {
    color: #ffffff;
    text-align: left;
    margin: 0 auto;
    padding: 50px;
    width: 65%;
    line-height: 1.75em;
    font-family: Memphis;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    background-image: url('../images/backdrop.png');
    background-size: cover;
    background-color: #555555
}
#wherefromcontent {
    margin-left: 30px;
}
#porcelainsign {
    width: 50vw;
}




